.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh; 
    gap: 20px;
    padding: 30px;
    justify-content: center;
}

.game-title{
    max-width: 900px;
}

.cuervo-baile{
    width: 240px;
    height: auto;
    border-radius: 8px;
    position: absolute;
    right: 160px;
    bottom: 70px;
}

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-name{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    padding: 10px;
}

.error{
    color: #f51a1a;
    font-weight: bold;
    margin: 4;
}

.menu-instructions{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: #f7f7f7;
}

.menu-input{
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #a09898;
    width: 160px;
    background-color: #2b2b3d;
    text-align: center;
}

.menu-input::placeholder{
    color: #a3a3a3;
}

.menu-input:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.3);
}

.play-button{
    border: none;
    background-color: #388ee9;
    width: 180px;
    color: white;
    padding: 10px;
    font-size: 22px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color 0.2s;
    height: 46px;
}

.play-button:hover{
    background-color: #1d53a3;
}

.play-button:active{
    outline: none;
    scale: 0.98;
}

.play-button:focus{
    outline:none;
}

.gameplay-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #c4c4c4;
    border-radius: 4px;
    background-image: url("./assets/cielo.png");
}

.scoreboard{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
    padding: 4px 20px;
    box-sizing: border-box;
}

.gameOver-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 0px 20px;
    font-size: 16px;
    gap: 20px;
}

.gameOver-title{
    font-size: 42px;
    margin: 0;
    color: #f51a1a;
    font-weight: bold;
}

.gameOver-image{
    width: 260px;
    height: auto;
}   

.success, .loading{
    color: #f5f5f5;
    font-weight: 400;
    font-size: 20px;
} 

.game-stats{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #c4c4c4;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    gap: 12px;
    padding-top: 10px;
    background-color: #1e1e22;
    width: 220px;
}

.reset-button{
    border: none;
    background-color: #388ee9;
    color: white;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.2s;
    height: 46px;
    width: 100%;
    border-radius: 0;
}

.reset-button:hover{
    background-color: #1d53a3;
}

.reset-button:focus{
    outline:none;
}

p{
    padding: 0;
    margin: 0;
}


.gandalf{
    position: absolute;
    left: 60px;
    width: 260px;
    height: auto;
    border-radius: 8px;
    top: 300px;
}